body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cadetblue;
}

/* Button styling */
button {
    padding: 1em 1.8em;
    margin-top: 25px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
    font-size: 1em;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
}

/* Input and Textarea styling */
textarea, input[type="text"], input[type="email"], input[type="tel"], input[type="file"] {
    width: 100%;
    padding: 0.8em;
    margin-top: 0.5em;
    border: 2px solid cadetblue;
    border-radius: 10px;
    box-sizing: border-box;
}

textarea {
    height: 130px;
}

/* Hidden class */
.hidden {
    display: none;
}

/* Main container for form and resume preview */
#container, #resumePage {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

/* Styling for the resume image */
#resumePage img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: 2px solid cadetblue;
}

/* Centered text for the resume name */
#resumePage h1, #resumePage h2 {
    text-align: left;
    color: cadetblue;
}

#resumeContent h2 {
    color: cadetblue;
}

/* Responsive adjustments */
@media (min-width: 600px) {
    #container, #resumePage {
        width: 75%;
    }
}

@media (min-width: 768px) {
    #container, #resumePage {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    #container, #resumePage {
        width: 50%;
    }

    button {
        font-size: 1.1em;
        padding: 1em 2em;
    }
}
